# Dependencies
app/node_modules/

# Local env files
app/.env
app/.env.local
app/.env.*.local

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Build output
app/dist/

# Logs
*.log
npm-debug.log*
